In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading Data

In [2]:
'''
df2005 = pd.read_csv('data/mortality/2005_data.csv')
df2006 = pd.read_csv('data/mortality/2006_data.csv')
df2007 = pd.read_csv('data/mortality/2007_data.csv')
df2008 = pd.read_csv('data/mortality/2008_data.csv')
df2009 = pd.read_csv('data/mortality/2009_data.csv')
df2010 = pd.read_csv('data/mortality/2010_data.csv')
df2011 = pd.read_csv('data/mortality/2011_data.csv')
df2012 = pd.read_csv('data/mortality/2012_data.csv')
df2013 = pd.read_csv('data/mortality/2013_data.csv')
df2014 = pd.read_csv('data/mortality/2014_data.csv')
df2015 = pd.read_csv('data/mortality/2015_data.csv')
'''

"\ndf2005 = pd.read_csv('data/mortality/2005_data.csv')\ndf2006 = pd.read_csv('data/mortality/2006_data.csv')\ndf2007 = pd.read_csv('data/mortality/2007_data.csv')\ndf2008 = pd.read_csv('data/mortality/2008_data.csv')\ndf2009 = pd.read_csv('data/mortality/2009_data.csv')\ndf2010 = pd.read_csv('data/mortality/2010_data.csv')\ndf2011 = pd.read_csv('data/mortality/2011_data.csv')\ndf2012 = pd.read_csv('data/mortality/2012_data.csv')\ndf2013 = pd.read_csv('data/mortality/2013_data.csv')\ndf2014 = pd.read_csv('data/mortality/2014_data.csv')\ndf2015 = pd.read_csv('data/mortality/2015_data.csv')\n"

In [2]:
'''Loading data from 2005-2015'''

df=[] #len=11, each = 1yr
for i in range(2005,2016):
    url = 'data/mortality/'+str(i)+'_data.csv'
    df1 = pd.read_csv(url)
    df.append(df1)

del df1

/Users/Henry/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (39,40,41,42,43,44,45,46,47,59,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Henry/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (39,40,41,42,43,44,45,46,47,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Henry/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (39,40,41,42,43,44,45,46,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Henry/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (39,40,41,42,43,44,45,46,59,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Henry/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Henry/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (40,41,42,43,44,45,46,47,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Henry/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (40,41,42,43,44,45,46,47,60,61,62,63,64,65,66,67,68) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Henry/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (39,40,41,42,43,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Henry/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (39,40,41,42,43,60,61,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Henry/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (40,41,42,43,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Prepossessing Data

In [3]:
'''
Create new column - '5y_age_band_recode'
'''
#create a dictionary to map age_recode_52 to 5 yr age band
dic = dict()
for i in range(1,53):
    if i<=26:
        dic[i] = 1
    else:
        dic[i] = i-26+1
#print(dic)
for i in range(11):
    df[i]['5y_age_band_recode'] = df[i]['age_recode_52'].map(dic)
df[0][:2]

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode,5y_age_band_recode
0,1,11.0,NaN,0,1,F,1,45,NaN,35,...,NaN,NaN,1,NaN,NaN,1,1,100,6,10
1,1,13.0,NaN,0,1,M,1,61,NaN,38,...,NaN,NaN,1,NaN,NaN,1,1,100,6,13

In [5]:
'''
Recode the 39_cause_recode to rankable causes
'''

'''
#create column - 50_cause_recode
#rankable death causes

causepd = pd.read_csv('data/50Causes.csv')
#causedic = causepd.set_index('113_cause_recode').T.to_dict('list')
causedic = causepd.set_index('113_cause_recode').to_dict()['50_cause_recode']
print(causedic)

for i in range(11):
    df[i]['50_cause_recode'] = df[i]['113_cause_recode'].map(causedic)
    df[i][['50_cause_recode']] = df[i][['50_cause_recode']].astype(int)
del causedic, causepd'''


recodedf = pd.read_csv('data/map data/rankable_cause_recode_map.csv')

recodedict = recodedf.set_index('39_cause_recode').to_dict()['27_rankable_cause']

for i in range(11):
    df[i]['rankable_cause_recode'] = df[i]['39_cause_recode'].map(recodedict)
del recodedf,recodedict

df[0][:1]

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode,5y_age_band_recode,rankable_cause_recode
0,1,11.0,NaN,0,1,F,1,45,NaN,35,...,NaN,1,NaN,NaN,1,1,100,6,10,4

In [7]:
'''
drop unused columns
reduce memory pressure
'''
for i in range(11):
    #determine the columns to drop
    all_col = df[i].columns.values
    used_col = ['education_1989_revision','education_2003_revision', 'education_reporting_flag',
             'month_of_death', 'sex', 'marital_status', 'day_of_week_of_death',
             'current_data_year', 'injury_at_work', 'manner_of_death', 'activity_code', 'race',
                'detail_age', '5y_age_band_recode', 'rankable_cause_recode']
    unused_col = list(set(all_col).difference(set(used_col)))
    
    df[i] = df[i].drop(unused_col,axis=1)
    print('finish droping unused columns for year', i+2005)
    print('column number after drop:',len(df[i].columns.values))
del all_col, unused_col

finish droping unused columns for year 2005
column number after drop: 15
finish droping unused columns for year 2006
column number after drop: 15
finish droping unused columns for year 2007
column number after drop: 15
finish droping unused columns for year 2008
column number after drop: 15
finish droping unused columns for year 2009
column number after drop: 15
finish droping unused columns for year 2010
column number after drop: 15
finish droping unused columns for year 2011
column number after drop: 15
finish droping unused columns for year 2012
column number after drop: 15
finish droping unused columns for year 2013
column number after drop: 15
finish droping unused columns for year 2014
column number after drop: 15
finish droping unused columns for year 2015
column number after drop: 15

In [8]:
'''
Process NaN value
'''
#print out missing value situation
for i in range(11):
    print('Year',2005+i, 'missing value\n',df[i].isnull().sum(), sep='')
    print('------')

Year2005missing value
education_1989_revision      965336
education_2003_revision     1487170
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              732891
activity_code               2281702
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------
Year2006missing value
education_1989_revision     1174880
education_2003_revision     1255845
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              693733
activity_code               2256940
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------
Year2007missing value
education_1989_revision     1288118
education_2003_revision     1140225
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              680409
activity_code               2247055
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------
Year2008missing value
education_1989_revision     1594347
education_2003_revision      882464
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              546130
activity_code               2296770
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------
Year2009missing value
education_1989_revision     1573743
education_2003_revision      867476
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              521446
activity_code               2265275
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------
Year2010missing value
education_1989_revision     1723209
education_2003_revision      749333
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              441424
activity_code               2292665
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------
Year2011missing value
education_1989_revision     1845162
education_2003_revision      674680
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              435309
activity_code               2333584
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------
Year2012missing value
education_1989_revision     2118060
education_2003_revision      429804
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              422937
activity_code               2358243
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------
Year2013missing value
education_1989_revision     2208160
education_2003_revision      393292
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              430113
activity_code               2409622
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------
Year2014missing value
education_1989_revision     2389564
education_2003_revision      241607
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              364034
activity_code               2432242
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------
Year2015missing value
education_1989_revision     2645155
education_2003_revision       73043
education_reporting_flag          0
month_of_death                    0
sex                               0
detail_age                        0
marital_status                    0
day_of_week_of_death              0
current_data_year                 0
injury_at_work                    0
manner_of_death              388364
activity_code               2504519
race                              0
5y_age_band_recode                0
rankable_cause_recode             0
dtype: int64
------

In [9]:
for i in range(11):
    url = 'data/mortality_selected/'+str(2005+i)+'.csv'
    print('Writing:', url)
    df[i].to_csv(url, index=False, sep=',')
print('Finish!')

Writing: data/mortality_selected/2005.csv
Writing: data/mortality_selected/2006.csv
Writing: data/mortality_selected/2007.csv
Writing: data/mortality_selected/2008.csv
Writing: data/mortality_selected/2009.csv
Writing: data/mortality_selected/2010.csv
Writing: data/mortality_selected/2011.csv
Writing: data/mortality_selected/2012.csv
Writing: data/mortality_selected/2013.csv
Writing: data/mortality_selected/2014.csv
Writing: data/mortality_selected/2015.csv
Finish!